@import url("https://fonts.googleapis.com/css2?family=B612+Mono:wght@700&display=swap");
.primary .btn,
.btn {
  transition: all 0.5s ease-out;
}
.key-square {
  width: 20px;
  height: 20px;
  float: left;
  margin: 6px;
}
.container {
  max-width: 90%;
}
#currentDay {
  font-family: "B612 Mono", monospace;
}
.time-block {
  background-color: whitesmoke;
  textarea {
    background-color: rgb(225, 225, 225);
    padding: 0 6px;
    margin: 4px 0;
    border: 1px solid lightgrey;
    &:focus {
      outline: none;
      background: white;
    }
  }
}

@media (max-width: 575.98px) {
  .time-block textarea {
    margin: 0 4px 4px;
  }
}
